Faker
argon2-cffi
argon2-cffi-bindings
async-generator
atomicwrites
attrs
backcall
bleach
certifi
cffi
charset-normalizer
colorama
cryptography
debugpy
decorator
defusedxml
entrypoints
h11
hypothesis
idna
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
outcome
packaging
pandocfilters
parso
pickleshare
pip
pluggy
prometheus-client
prompt-toolkit
py
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest
python-dateutil
pyzmq
qtconsole
QtPy
requests
selenium
seletools
Send2Trash
setuptools
six
sniffio
sortedcontainers
terminado
testpath
tomli
tornado
traitlets
trio
trio-websocket
urllib3
wcwidth
webencodings
wheel
widgetsnbextension
wsproto